.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.brand {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.navbar > a {
    margin: 0px
}

.link {
    transition: background-position 0.3s, border 0.3s, color 0.3s;
    background-color: transparent !important;
    background: linear-gradient(to right, #267F00 0%, #267F00 50%, transparent 50%, transparent 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    border-radius: 2.5px;
    color: var(--bs-dark);
}

.link:hover {
    background-position:0 0;
    color: var(--bs-light)  !important;
}

.link:hover > a {
    color: var(--bs-light) !important;
}

.active {
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
    .link {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .navbar {
        text-align: center;
    }
}

.scrollText {
    
}

.navCircleContainer {
    position: absolute;
    top: 10vh;
    left: 50%;
}

.navigationContainer {
    position: fixed;
    width: 100vw;
    z-index: 10;
    display: block;
    padding: 1rem;
}

.navigationContainer > div > p {
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}

.navLight {
    background-color: var(--bs-light);
}

.navDark {
    background-color: transparent;
    color: var(--bs-light);
}

.navDark > div > button {
    border-color: var(--bs-light);
}

.navDark > div > p {
    color: var(--bs-light);
}

.navDark > div > button > svg {
 fill: var(--bs-light);
}


.menuOpen {
    background-color: rgba(0, 0, 0, 0.9) !important;
    opacity: 1 !important;
    pointer-events: auto !important;
}

.menuDefault {
    z-index: 8;
    position: fixed;
    width: 100vw;
    height: 100vh;
    position: fixed;
    transition: 0.35s;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
}

@media (min-width: 2000px) {
    .menuDefault > div {
        transform: scale(0.9);
        transition: 0.3s;
    }
    
    .menuOpen > div {
        transform: scale(1) !important;
    }
}

@media (min-width: 1000px) and (max-width: 2000px) {
    .menuDefault > div {
        transform: scale(0.75);
        transition: 0.3s;
    }
    
    .menuOpen > div {
        transform: scale(0.89) !important;
    }
}

@media (min-width: 550px) and (max-width: 1000px) {
    .menuDefault > div {
        transform: scale(0.45);
        transition: 0.3s;
    }
    
    .menuOpen > div {
        transform: scale(0.5) !important;
    }
}



@media (min-width: 300px) and (max-width: 550px) {
    .menuDefault > div {
        transform: scale(0.25);
        transition: 0.3s;
    }
    
    .menuOpen > div {
        transform: scale(0.3) !important;
    }
}


